* {
    margin: 0px;
    padding: 0px;
    font-family: 'Sarabun', Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-rows: 60px 430px 1876px 435px;
    height: 2820px;
    width: 1440px;
    --color-main: #459D7A;
    --color-text: #424955FF;
}

#header {
    display: grid;
    grid-template-columns: 132px 350px auto 350px 132px;
    height: 60px;
}

/* #menu {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  var(--color-text);
} */

.menu {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 60px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    display: inline-block;
    color: var(--color-text);
    line-height: 60px;
}

#logo {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_img {
    width: 140px;
    height: 50px;
}

#menu_search_header {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-text);
}

#search_form_header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 240px
}

.search_icon_hear {
    font-size: 10px;
    padding: 5px;
}

#input_search_header {
    border: none;
    outline: none;
    padding: 5px;
}

#banner {
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url('/1_ProductListing/img/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#banner_box {
    position: absolute;
    top: 110px;
    left: 132px;
    color:  var(--color-text);
}

#banner_text_heading {
    font-size: 52px;
}

#banner_subtext {
    font-size: 20px;
}

#content {
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 100px 1506px 150px;
}

#menu_content {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 60px;
    display: grid;
    grid-template-columns: 132px 500px auto 400px 132px;
}

.categorys {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    gap: 0px;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-main);
}

.categorys ul {
    list-style-type: none;
}

.categorys ul li {
    display: inline-block;
    height: 52px;
    width: 150px;
    line-height: 52px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
}

.categorys ul li:hover {
    color: #fff;
    background-color: var(--color-main);
}

.straight {
    display: inline-block;
    font-size: 22px;
}

#menu_search_content {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

#search_form_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 52px;
    line-height: 52px;
}

.search_icon_content {
    font-size: 18px;
    padding: 5px;
}

#input_search_content {
    font-size: 18px;
    border: none;
    outline: none;
}

#sort_by {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6FF;
    height: 52px;
    line-height: 52px;
    width: 100px;
    color: var(--color-text);
    font-size: 18px;
}

#sort_by p {
    display: inline-block;
}

.icon_down {
    font-size: 14px;
}

#list_products {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.products_row {
    display: grid;
    grid-template-columns: 132px 267px 36px 267px 36px 267px 36px 267px 132px;
    align-items: center;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 267px;
    height: 464px;
}

.best_sale {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 12px;
    color: #8c5d11;
    background-color: #ffc970;
    border-radius: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0px 6px;
}

.product .item {
    border-radius: 25px;
}

.text_product {
    padding-top: 10px;
}

.text_product .text_title {
    color: #171A1FFF;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
}

.text_product .text_subtitle {
    font-size: 14px;
    height: 22px;
}

.text_price {
    display: grid;
    grid-template-columns: 100 auto;
}

.text_price_sub {
    grid-column-start: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.text_price_sub .text_main_price {
    display: inline-block;
    font-size: 32px;
    color: #323842FF;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.text_price_sub .text_subprice {
    display: inline-block;
    font-size: 16px;
    color: #9095A0FF;
    height: 40px;
    line-height: 40px;
}

.text_price > img {
    grid-column-start: 3;
}

.page {
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nummber {
    list-style-type: none;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nummber li {
    display: inline-block;
    font-size: 14px;
    color: #9095A0FF;
    padding: 10px 8px;
}

.nummber li:hover {
    color: #61ac8e;
    background-color: #F4FAF8;
    border-radius: 16px;
    cursor: pointer;
}

.footer {}